<div class="row">
  <div class="col-md-3 col-xs-6 mt-3" *ngFor="let place of places">
    <div class="card">
      <img src="{{ place.icon }}" alt="{{ place.name }}">
      <div class="card-body">
        <p>{{ place.name }}</p>
        <button class="btn btn-sm btn-success mr-3" (click)="likePlace(place)">Like</button>
        <button class="btn btn-sm btn-danger ml-3">DisLike</button>
      </div>
    </div>
  </div>
</div>
