<div class="col-md-8 offset-md-2">
  <div class="card m-3">
    <h4 class="text-center mt-2">Login</h4>
    <div class="alert alert-danger m-3" *ngIf="error">
      <small>
        {{ errorMsg }}
      </small>
    </div>
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email"
                 class="form-control" id="email"
                 required [(ngModel)]="userData.email"
                  #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
          <small *ngIf="email.invalid && email.touched" class="text-danger">Email is required</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password"
                 class="form-control" id="password" required
                 [(ngModel)]="userData.password"
                  #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched">
          <small *ngIf="pass.invalid && pass.touched" class="text-danger">Password is required</small>
        </div>
        <div class="form-group">
          <input type="submit" value="Login" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
