<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/nearby-shops">Newrby shops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorites">Favorites</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="register" *ngIf="!authService.isAuth()">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="login" *ngIf="!authService.isAuth()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="login"  *ngIf="authService.isAuth()" (click)="authService.logOut()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
